{% extends "base/base.html" %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{%static 'css/orders.css' %}">
{% endblock %}

{% block content %}
    <h1>{{titulo}}</h1>
    <p>Total de ordenes {{total_orders}}</p>
    <p>Total de pagos {{total_payments}}</p>

    <div class="container">
        {% for item in orders %}
            <div>ID: {{item.id}} Total: {{item.total}}</div>
        {% endfor %}
    </div>
    <div class="container">
        {% for q in questions %}
            {% include 'components/QuestionCard.html' with id=q.id question_text=q.question_text%} 
        {% endfor %}
    </div>
{% endblock %}