.extraPage{
    box-sizing: border-box;
    background-color: white;
}

.heroImageContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.heroImageContainer .backButton{
    display: flex;
    gap: 1rem;
    align-items: center;
    align-self: flex-start;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    border: none;
    transition: all 0.3s;
}

.heroImageContainer .backButton:hover{
    color: #9f7033;
}

.heroImageContainer .backButton:hover svg, 
.preFooter .preFooterIcons svg:hover{
    fill: #9f7033;
}

.heroImageContainer .backButton svg{
    height: 2rem;
    width: 2rem;
    fill: white;
    transition: all 0.3s;
}

.heroImageContainer img{
    width: 100%;
    max-height: 40rem;
}

.heroImageContainerTitle{
    padding: 0 16rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;

}

.heroImageContainerTitle h1{
    font-size: 3.4rem;
}

.seriesInfo{
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 6rem 0;
}

.seriesInfo p, .seriesInfo li {
    font-size: 1.6rem;
}

.seriesInfo li{
    margin-bottom: 0.8rem;

}

.seriesInfo li::marker {
    color: #9f7033;
  }

.seriesInfo img{
    width: 100%;
    height: 35rem;
    object-fit: cover;
}

.preFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    max-width: 80rem;
    margin: 10rem auto;
    font-size: 1.4rem;
    border-top: 2px solid #f2f0f1;
    border-bottom: 2px solid #f2f0f1;
    padding: 2rem;
}

.preFooter svg, .socials .preFooterIcons svg{
    width: 2.4rem;
    height: 2.4rem;
    fill: black;
    transition: all 0.3s;
}

.preFooterIcons{
    display: flex;
    gap: 3rem;
}

