<nav>
    <div class="menu">
        <div class="menu-logo">
            <img src="../../static/img/admin.png" alt="">
        </div>
    </div>

    <div class="menu-options">
        <div>
            <a href="{% url 'index'%}">Index</a>
        </div>
        <div>
            <a href="{% url 'eventos'%}">Eventos</a>
        </div>
        <div>
            <a href="{% url 'boletos'%}">Boletos</a>
        </div>
        <div>
            <a>Productos</a>
        </div>
        <div>
            <a href="/admin/"">Admin</a>
        </div>
    </div>
</nav>