.categoryWidget{
    border: 2px solid var(--accentBlue);
    display: flex;
    align-items: center;
    border-radius: 1.2rem;
    overflow: hidden;
    position: relative;
    height: 6rem;
    background-color: var(--backgroundBlue);
    transition: background-color 0.3s;
}

.categoryWidget p{
    font-size: 1.3rem;
    padding-left: 6rem;
    font-weight: bold;
}

.categoryWidget img{
    width: 10rem;
    position: absolute;
    
    transform: translateX(-50%);
}

.categoryWidget:hover{
    background-color: var(--accentBlue);
}