.rickHeader{
    padding: 5rem 8rem 5.9rem 8rem;
    height: 20rem;
    box-sizing: border-box;
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: white;
}

.hamburguerMenu img{
    height: 3.2rem;
    width: 3.2rem;
}

.headerLinks a{
    font-size: 1.4rem;
    margin-right: 3rem;
    color: black;
    text-decoration: none;
}

.headerLinks a:last-of-type{

    margin-right: 0;
}


.headerLinks a svg{
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
}

.middleImage {
    position: absolute;
    height: 14rem;
    padding: 2.6rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}