.houseComponent{
    border: 1px solid white;
    color: white;
}
    
.houseComponent-Image{
    height: 22rem;
    width: 100%;
    background-image: url('https://i.pinimg.com/736x/ea/13/65/ea1365aaff250ff92e35fa72ef6db74f.jpg');
    
    padding: 1rem 2rem;
}

.houseComponent-Info{
    padding: 0.8rem 2.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.houseComponent-Info h1{
    font-size: 1.5rem;
}

.houseComponent-Info-Especifications{
    padding: 1.8rem 1rem ;
    display: flex;
    gap: 2.5rem;
}

.houseComponent-Info-AditionalInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}

.iconInfo{
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.iconInfo-Icon{
    color: #838382;
}

.starIconOrange{
    color: #ffa900;
}