.heroImageContainer{
    width: 100%;
    padding: 1rem;
}

.platesMenuHeroImage{
    background: url(../assets/img/mainImage.png);
    background-repeat: no-repeat;
    background-position: 40% bottom;
    border-radius: 2rem;
    padding: 1rem;
    padding-left: 55%;
    min-height: 46rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.platesMenuHeroImage div{
    display: flex;
}

.platesMenuHeroImage h1{
    font-size: 5rem; 
}

.platesMenuHeroImage p, .platesMenuHeroImage h1{
    color: var(--backgroundBlue);
    font-weight: bold;
}

.platesMenuHeroImage p{
    font-size: 1.1rem;
}

#movedParagraph{
    margin-left: 6rem;
}

#shortDescription{
    max-width: 14rem;
    margin-left: 8rem;
}

#chefHat{
    width: 2.5rem;
}

#redCircle{
    color: red;
    border: 1px solid var(--backgroundBlue);
    border-radius: 100%;
}

@media(max-width: 680px){
    .platesMenuHeroImage{
        background-position: 45% bottom;
        padding-left: 32%;
    }
    #movedParagraph{
        margin-left: 2rem;
    }

    #shortDescription{
        margin-left: 2rem;
    }
}

.platesMenu{
    background-color: var(--backgroundBlue);

}

.mainContainer{
    margin: 0 auto;
    max-width: 140rem;
    padding: 2rem;
    display: grid;
    gap: 3rem;
}

.categoriesContainer h2{
    margin-bottom: 3rem;
    font-size: 2.2rem;
    font-weight: lighter;
}

.categoriesGrid{
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(2, 1fr);
}

.searchBar{
    display: flex;
    gap: 1rem;
    margin-bottom: 4rem;
    justify-content: space-between;
}

.searchBar .searchInput{
    width: 60%;
}

.searchBar .sort-select{
    align-self: stretch;
}

.recipesGrid{
    display: grid;
    gap: 3.5rem;
}



@media(min-width: 1024px){
    .mainContainer{
        grid-template-columns: 1fr 4fr;
    }
    .categoriesGrid{
        grid-template-columns: 1fr;
    }
    .recipesGrid{
        grid-template-columns: repeat(3, 1fr);
    }
    .searchBar .searchInput{
        width: 50%;
    }
    .searchBar .sort-select{
        display: none;
    }
}