.platesMenuHeroImage{
    padding: 1rem;
    border-radius: 2rem;
    width: 100%;
}

.platesMenu{
    background-color: var(--backgroundBlue);

}

.mainContainer{
    margin: 0 auto;
    max-width: 140rem;
    padding: 2rem;
    display: grid;
    gap: 3rem;
}

.categoriesContainer h2{
    margin-bottom: 3rem;
    font-size: 2.2rem;
    font-weight: lighter;
}

.categoriesGrid{
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(2, 1fr);
}

.searchBar{
    display: flex;
    gap: 1rem;
    margin-bottom: 4rem;
    justify-content: space-between;
}

.searchBar .searchInput{
    width: 60%;
}

.searchBar .sort-select{
    align-self: stretch;
}

.recipesGrid{
    display: grid;
    gap: 3.5rem;
}



@media(min-width: 1024px){
    .mainContainer{
        grid-template-columns: 1fr 4fr;
    }
    .categoriesGrid{
        grid-template-columns: 1fr;
    }
    .recipesGrid{
        grid-template-columns: repeat(3, 1fr);
    }
    .searchBar .searchInput{
        width: 50%;
    }
    .searchBar .sort-select{
        display: none;
    }
}