.searchPage{
    background-color: black;
}

.searchPage-heroImage{
    background-image: url('https://cdn.pixabay.com/photo/2019/07/15/08/32/australia-4338882_1280.jpg');
    height: 45rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchPage-heroImage-Input {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
}

.searchPage-heroImage-Input p{
    color: white;
    font-size: 2.2rem;   
}

.searchPage-heroImage-Input input{
    margin-top: 2.2rem;
    width: 80%;
    border-radius: 0.4rem;
    padding: 1rem 0.8rem;
    border: none;
    font-size: 1.6rem; 
}

.searchPage-heroImage-Input input::placeholder{
    color: #959594;
}

.housesGrid{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 120rem;
    margin: 0 auto;
    gap: 1rem;
    padding: 1.5rem;
    min-height: calc(100vh - 45rem);
}

@media(min-width: 768px){
    .housesGrid{
        grid-template-columns: repeat(2, 1fr);
    }

    .searchPage-heroImage{
        align-items:start;
    }

    .searchPage-heroImage-Input {
        width: 40%;
        align-items: start;
        text-align: left;
    }
    .searchPage-heroImage-Input p{
        color: white;
        font-size: 1.4rem;   
    }
    
    .searchPage-heroImage-Input input{
        font-size: 1.2rem;
        width: 100%;
    }
}

@media(min-width: 1024px){
    .housesGrid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.noResults{
    color: white;
    text-align: center;
    grid-column: 1/4;
}