.boleto p, .boleto h2{
    margin: 0;
}

.boleto{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.boleto img{
    width: 80%;
}

.boleto a{
    padding: 0.8rem 1.6rem;
    background-color: black;
    border-radius: 0.6rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.boleto a:hover{
    background-color: rgb(65, 65, 65);
}