main{
    padding: 1.6rem;
}

.heroImagesContainer, .dividedExpositor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
    
}

.heroImagesContainer img{
    width: 100%;
    height: 100%;
}

section h2{
    text-align: center;
    font-size: 2.2rem;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.noticia img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.noticia h1, .noticia p{
    margin: 0.4rem;
}

.evento{
    display: flex;
    border: 1px solid black;
}

.evento img{
    width: 16rem;
    height: 100%
}

.info-evento{
    padding: 1.2rem;
}

.info-evento h2{
    font-size: 1.2rem;
}

.info-evento div p{
    margin: 0.4rem 0;
}