main{
    padding: 1.6rem;
}

.heroImagesContainer, .dividedExpositor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
    
}

.heroImagesContainer img{
    width: 100%;
    height: 100%;
}

section h2{
    text-align: center;
    font-size: 2.2rem;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}


