.characterDetailMain{
    min-height: auto !important;
}

.characterDetail{
    display: flex;
    max-width: 80rem;
    margin: 3rem auto;
    gap: 2rem;
}

.characterDetail img{
    border-radius: 1rem;
}

.characterDetail div{
    background-color: #f3f3f0;
    padding: 4rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.characterDetail div h1{
    color: black;
    margin-bottom: 1.2rem;
}

.characterDetail div p{
    font-size: 1.6rem;

}

.characterDetail div strong{
    color: var(--title-blue);
}