.characterCard{
    background-color: #f3f3f0;
    display: flex;
    padding: 2.5rem;
    min-height: 26rem;
    text-align: left;
    justify-content: space-between;
    align-items: end;
    gap: 3rem;
}

.characterCardInfo{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: end;
}

.characterCard h3{
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.characterCard div p{
    font-size: 1.2rem;
    color: black;
}

.characterProfile{
    border-radius: 100%;
    height: 23rem;
    border: 1px solid black;
    margin-right: -7rem;
}

.buttonsContainer{
    display: flex;
    gap: 1rem;
    width: 100%;
}

.characterDetailButton{
    margin-top: 1.6rem;
    background-color: #f3f3f0;
    border: 1px solid black;
    padding: 1rem 2rem;
    justify-content: center;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    border-radius: 0.6rem;
}

.characterDetailButton:hover{
    background-color: #c9c9c9;
}

#detail{
    flex: 1;
}

.characterDetailButton img{
    height: 2rem
}

.characterCard .likeButton p{
    font-weight: normal;
    font-size: 1.6rem;
}