{% extends 'base/base.html' %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/users.css' %}">

{% endblock %}

{% block content %}

<main>
    <h1>Lista de clientes</h1>
    <div class="gridUsers">
        {% for item in users %}
            {% include 'components/UserCard.html' with name=item.name email=item.email id=item.id photo=item.photo%}
           
        {% endfor %}
         <!--
                <div class="userDisplay">
                    <img src={{user.photo}} alt="Profile">
                    <div class="userDisplayInfoContainer">
                        <h2 class="userDisplayName">{{user.name}}</h2>
                        <div class="userDisplayInfo">
                            <p><strong>ID:</strong> {{user.id}}</p>
                            <p><strong>Age:</strong> {{user.age}}</p>
                        </div>
                    </div>
                </div>
            -->
    </div>
</main>
{% endblock %}
