
:root{
  --mainFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*{
  margin: 0;
  font-family: var(--mainFont);
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}

.backgroundImageCentered{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}