@font-face {
  font-family: 'Shlop';
  src: url('./assets/fonts/shloprg.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rick';
  src: url('./assets/fonts/get_schwifty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --title-font: 'Rick', sans-serif;
  --main-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --title-blue: #01b1c8;
  --green-glow: #5fcd5d;
  --dark-gray: #262a33;
  --medium-gray: #3c3f45;
}

*{
  font-family: var(--main-font);
  margin: 0;
}

html {
  font-size: 62.5%;
}

body{
  background-color: var(--dark-gray);
}

h1,h2{
  font-family: var(--title-font);

  color: var(--title-blue);
  
}

h1{
  font-size: 5rem;
}

h2{
  font-size: 3rem;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 2rem;
  gap: 2rem;
}