
:root{
  --mainFont: "Montserrat", sans-serif;
  --titleFont: "Playfair Display", serif;
  --backgroundBlue: #0e1326;
  --accentBlue: #384150;
  --selectionYellow: #febc2e;
}

*{
  margin: 0;
  font-family: var(--mainFont);
  box-sizing: border-box;
}

h1,h2,h3,p{
  color:  white;
}

h1,h2,h3{
  font-family: var(--titleFont);
}

p{
  font-family: var(--mainFont);
}

html {
  font-size: 62.5%;
  background-color: var(--backgroundBlue);
}

